* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 229px;
    height: 86px;
    margin-inline: 20px;
}

/* Desktop Navigation Bar */
.desktop-nav-bar {
    margin-left: auto;
}

.desktop-nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.desktop-nav-bar li {
    position: relative;
    margin-right: 20px;
}

.desktop-nav-bar a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.desktop-nav-bar a:hover {
    color: skyblue;
}

/* Dropdown Styles */
.dropdown-content,
.nested-dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a,
.nested-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.nested-dropdown-content a:hover {
    background-color: #575757;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.nested-dropdown {
    position: relative;
}

.nested-dropdown-content {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #333;
}

.nested-dropdown:hover .nested-dropdown-content {
    display: block;
}

/* Mobile Menu Styles */
#menuButton {
    display: none;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay-content a:hover,
.overlay-content a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 9px;
    font-size: 60px;
    cursor: pointer;
    border-radius: 30%;
}

/* Responsive Styles */
@media (max-width: 968px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    .desktop-nav-bar {
        display: none;
    }

    #menuButton {
        display: block;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* 
--------------------------------------------------------------------
HERO SECTION 
--------------------------------------------------------------------
*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100vh;
    max-height: 600px;
    background-color: #000;
}

#hero iframe {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.slide.active {
    display: block;
}

.hero-text {
    position: absolute;
    color: #fff;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
    .hero-text {
        bottom: 30px;
        right: 30px;
        font-size: 18px;
    }

    #hero {
        height: 500px;
    }
}

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    .desktop-nav-bar ul {
        flex-direction: column;
    }

    .desktop-nav-bar li {
        margin: 10px 0;
    }

    .hero-text {
        bottom: 20px;
        right: 20px;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    #hero {
        height: 300px;
    }
}


/* 
-------------------------------------------------------------------------------
FACULTIES AND BUILDINGS
-------------------------------------------------------------------------------
*/

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.schedule-info,
.halls-info {
    margin-inline: 30px;
}

#halls {
    display: inline-block;
    width: 300px;
}

.halls-img img {
    height: 200px;
    width: 200px;
}

#schedule button,
#halls button {
    background-color: #fff;
    border-color: #fff;
    width: 200px;
    height: 30px;
    margin-top: 12px;
    cursor: pointer;
    transition: ease-in-out 0.9s;
    font-weight: bold;
}

#schedule button:hover,
#halls button:hover {
    background-color: skyblue;
}

#Faculties {
    background-color: #f5f5f5;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#Buildings {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#halls {
    margin-inline: -300px;
}

#schedule,
#halls {
    width: calc(20% - 20px);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 9px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.schedule-img img,
.halls-img img {
    max-width: 100%;
    height: auto;
}

.schedule-info p,
.halls-info p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.halls-tag {
    text-align: center;
}


@media (max-width: 1200px) {

    #schedule,
    #halls {
        width: calc(25% - 20px);
    }
}

@media (max-width: 992px) {

    #schedule,
    #halls {
        width: calc(33.33% - 20px);
    }

    #halls {
        margin-inline: 1px;
    }
}

@media (max-width: 768px) {

    #schedule,
    #halls {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {

    #schedule,
    #halls {
        width: calc(100% - 20px);
    }

    .schedule-info,
    .halls-info {
        margin-inline: 10px;
    }

    #schedule button,
    #halls button {
        width: 90px;
    }
}

/* 
--------------------------------------------------------------------
REVIEWS
--------------------------------------------------------------------
*/
#reviews {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.review-slide {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 1s ease-in-out;
}

.review-slide img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.review-slide.active-review {
    display: flex;
    transform: translateX(0);
}

.review-slide.incoming {
    display: flex;
    transform: translateX(100%);
}

.review-slide.outgoing {
    display: flex;
    transform: translateX(-100%);
}

.reviews-text {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.reviews-content {
    height: 305px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.reviews-content p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .reviews-content {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviews-content p {
        max-width: 80%;
        font-size: 12px;
        text-align: center;
    }

    .reviews-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    #reviews {
        height: 200px;
    }

    .reviews-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviews-content p {
        max-width: 200px;
        text-align: center;
    }

    #reviews img {
        width: 60px;
        height: 60px;
    }
}

/*
--------------------------------------------------------------------
CONTACT 
--------------------------------------------------------------------
*/
#contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #333;
    color: #000;
    border-top-color: rgba(0, 0, 0, 0.07);
    height: 300px;
}

.contact-logo img {
    width: 133px;
    height: 57px;
}

.gap {
    margin: 9px 0;
}

.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location a {
    text-decoration: none;
    color: #000;
}

.social-media-icons {
    display: flex;
    margin-inline: 20px;
    margin-top: 5px;
}

.social-media-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: ease-out 0.5s;
    margin-right: 12px;
}

.social-media-icons img:hover {
    transform: scale(1.05);
    background-color: #7d77779a;
    border-radius: 9px;
}

@media screen and (max-width: 768px) {
    #contact {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
        height: 380px;
    }

    .location {
        text-align: center;
    }

    .info-container {
        margin: 10px 0;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .social-media-icons img {
        margin: 5px;
    }
}

@media screen and (max-width: 500px) {
    .contact-logo img {
        width: 100px;
        height: 43px;
    }

    .info-container {
        width: 100%;
        margin: 10px 0;
    }

    .social-media-icons img {
        width: 20px;
        height: 20px;
        margin: 5px;
    }
}

/* 
--------------------------------------------------------------------
FOOTER 
--------------------------------------------------------------------
*/
footer {
    margin: 20px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    footer {
        margin: 10px 0;
    }
}

@media screen and (max-width: 500px) {
    footer {
        font-size: 12px;
    }
}